.header {
    border-bottom: 1px solid $header-border-color;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $main-color;
}

.header__logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.header__span {
    color: $header-span-color;
}

.menu {
    display: flex;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.menu__item {
    margin-right: 50px;

    &:last-child {
        margin-right: 0;
    }
}

.menu__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $title-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $main-color;
    }
}

.menu__link--current {
    position: relative;
    color: $main-color;
}

.menu__link--current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: $main-color;
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.contact {
    display: flex;
    margin-left: auto;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.contact__menu+.contact__menu {
    margin-left: 50px;
}

.contact__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $text-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $main-color;
    }
}

.contact__icon {
    margin-right: 10px;
    fill: currentColor;
}