$main-color: #2196F3;
$header-span-color: #000000;
$title-color: #212121;
$text-color: #757575;
$primary-color: #FFFFFF;
$link-color: #AFB1B8;
$contact-color-rgba: rgba(255, 255, 255, 0.6);
$textarea-color-rgba: rgba(117, 117, 117, 0.5);
$auxiliary-bg-color: #2F303A;
$main-bg-color:  #188CE8;
$primary-bg-color: #F5F4FA;
$gallery-bg-rgba: rgba(47, 48, 58, 0.8);
$footer-bg-rgba: rgba(255, 255, 255, 0.1);
$portfolio-gb-rgba: rgba(33, 150, 243, 0.9);
$modal-bg-rgba: rgba(0, 0, 0, 0.2);
$header-border-color: #ECECEC;
$border-color-rgba:  rgba(255, 255, 255, 0.3);
$portfolio-border-color: #EEEEEE;
$modal-border-rgba: rgba(0, 0, 0, 0.1);
$form-border-rgba: rgba(33, 33, 33, 0.2);
$icon-border-rgba:  rgba(33, 33, 33, 1);

